*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7ecde;
    font-family: "PT Sans Caption", sans-serif;
}

.h1{
 font-size: 50px;
 font-family: 'Pacifico', cursive;
 color: #352e28;
 text-align: center;   
 font-weight: 500;
 position: relative;
 width: fit-content;
 margin: auto;
 margin-top: 50px;
 font-style: italic;
 letter-spacing: 2px;
}

.h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#fec260;
    width:100%;
    height: 30%;
    transition: height 0.2s;
    cursor: text;
    z-index: -1;
}
.h1:hover::after{
    height: 70%;
}
hr{
    border: 2px dashed black !important;
    opacity: 1;
    margin-top: 50px;
    opacity: 75%;
}
h2 i ,h2{
    color: #b4ac4a;

}
h2{
    color: #aaac4b;
}

    .form-control:focus {
  outline: none !important;
  border: none  !important;
  box-shadow: none !important;
  outline: 2px solid #fec260 !important;
  -webkit-box-shadow: 10px 10px 5px -3px rgba(231,166,26,0.53);
-moz-box-shadow: 10px 10px 5px -3px rgba(231,166,26,0.53);
box-shadow: 10px 10px 5px -3px rgba(231,166,26,0.53) !important;
    }
    .submit{
        background-color: #d1512d;
        color: #fff;
        padding: 10px;
        width: 15%;
        border-radius: 6px;
        outline: none;
        border: none;

    }

    .submit:hover{
        background-color: #e7491d;
    }
tr{
    border-bottom: 2px solid #ddd;
    padding: 20px;
    border-radius: 6px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000075;
    z-index: 5555;
    opacity: 0;
    z-index: -1;
   
}
.snap{
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;

}
.balls > div{
    width: 30px;
    height: 30px;
   
}
.p-icon{
    font-size: 30px;
}
.fa-regular{
    font-size: 25px;
}
.close-icon{
    font-size: 24px;
    cursor: pointer;
}

@media(max-width:1400px){
    .p-icon{
        font-size: 20px;
    }
    @media(max-width:700px){
        
.snap{
    width: 95%;
}
.submit{
    width: 25%;
}

    }
    
}
.clear{
    opacity: 0;
    z-index: -1;
 }
.appear{
  opacity: 1;
  z-index: 5;
 }

